/* Hago referencia en todo el html*/
section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#informacion {
    flex-wrap: wrap; 
    height: auto;
    max-height: 300px;
    max-width: 200px;
    overflow: auto;
    text-align: justify;
    width: 100%;
}

/*
Jerarquia
1. #
2. .
3. etiqueta

con punto hago referencia mediante una class="nombre" en ese estilo.
 .nombre {
 }

 con almoadilla hago referencia mediante el id="nombre" afectando solo a esos elementos con ese id
 #nombre {
 }
 */

